/*General*/
body * {
    font-family: "Montserrat", sans-serif;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
  }

  .button {
  background-color: #FFA500; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}

  .button3 {
  background-color: #45474B; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #FFA500;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}

.inv {
  background-color: white; 
  color: white; ;

}

.button1:hover {
  background-color: #FFA500;
  color: white;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #45474B;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}

.wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.button2:hover {
  background-color: #45474B;
  color: white;
  border-radius: 4px;
  font-family: 'Signika Negative', sans-serif;

}
  
  ul li {
    border: none !important;
    font-family: 'Signika Negative', sans-serif;
  }
  
  /*Containers*/
  
  .image-section {
    height: 100vh;
    -moz-text-align: center; /*works on Firefox */
    -webkit-text-align: center; /*works on Safari and Google Chrome*/
    text-align: center;
    background-color: #262626;
    -moz-padding: 20px; /*works on Firefox */
    -webkit-padding: 20px; /*works on Safari and Google Chrome*/
    padding: 20px;
  }
  
  .image-section img {
    max-width: 60%;
    max-height: 60%;
    margin-top: 50px !important;
    object-fit: cover;
  }
  
  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .links a {
    flex: 0 0 10%;
    font-family: 'Signika Negative', sans-serif;

  }
  
  .icon-link {
    text-decoration: none;
    font-size: 48px auto;
    padding: 26px;
  }
  
  .content-container {
    width: 70%;
    margin: 0 auto;
  }
  
  .home {
    width: 80%;
    margin: 0 auto;
  }
  
  .home p {
    font-weight: bold;
    font-family: 'Signika Negative', sans-serif;

  }
  
  .home h1 {
    font-size: 64px;
  }
  
  .html {
    width: 90%;
    background-color: #FFA500;
  }
  
  .w3-ul li {
    padding: 8px 0px;
    font-family: 'Signika Negative', sans-serif;

  }
  
  /*Utilities*/
  
  .w3-margin-top-2 {
    margin-top: 32px;
  }
  
  .w3-margin-top-4 {
    margin-top: 64px;
  }
  
  .w3-margin-top-20-percent {
    margin-top: 20%;
  }
  
  .w3-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .w3-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  /*Media queries*/
  @media screen and (max-width: 1200px) {
    .home {
      width: 90%;
    }
    .content-container {
      width: 80% !important;
    }
  
    .download-text {
      display: none;
    }
  }
  
  @media screen and (max-width: 992px) {
    .home {
      width: 100%;
    }
    .home h1 {
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .content-container {
      width: 100% !important;
    }
  
    .image-section {
      -moz-padding: 10px; /*works on Firefox */
      -webkit-padding: 10px; /*works on Safari and Google Chrome*/
      padding: 10px;
    }
  
    .links a {
      flex: 0 0 5% !important;
      font-family: 'Signika Negative', sans-serif;

    }
  
    .home {
      text-align: center;
      width: 100%;
    }
  
    .home p {
      font-size: medium !important;
      font-family: 'Signika Negative', sans-serif;

    }
  
    .home h1 {
      font-size: 32px;
    }
    .home h2 {
      font-size: 24px;
    }
  
    .w3-fixed {
      position: inherit;
    }
  
    .image-section {
      height: auto;
    }
  
    .image-section img {
      max-width: 80%;
      max-height: 80%;
    }
  
    .icon-link {
      font-size: 24px;
    }
  
    .w3-container,
    .w3-panel {
      padding: 0.01em;
    }
  
    .download-text {
      display: inline-block;
      font-family: 'Signika Negative', sans-serif;

    }
  }